@import "common";

.app-wrap  {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {

}
.jcarousel-wrapper{
  position: relative;
}
.header-bar {
  z-index: 999;
  position: absolute;
  top: 0.20rem;
  width: 100%;
  display: flex;

  .header-bar-left {
    flex-grow: 0;
    margin-left: 0.3rem;
    margin-top: 0.04rem;
    margin-right: 0.82rem;
    &:before{
      background-image: url("../images/back.png");
      background-repeat: no-repeat;
      background-size:0.2rem 0.38rem;
      width: 0.20rem;
      height: 0.38rem;
      content: "";
      position: absolute;
    }
  }

  .header-bar-search {
    flex-grow: 1;
    flex-basis: 4.96rem;
    input{
      display: block;
      line-height: 0.26rem;
      height: 0.48rem;
      border-radius: 0.24rem;
      padding-left: 0.34rem;
      border: none;
      width: 99%;
      font-size: 0.24rem;
    }
  }

  .header-bar-right {
    width: 0.66rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 0.1rem;
    margin-left: 0.56rem;
    &:before{
      background-image: url("../images/ch.png");
      background-repeat: no-repeat;
      background-size:0.36rem 0.28rem;
      width: 0.36rem;
      height: 0.28rem;
      content: "";
      position: absolute;
    }
  }

}

.header-catalog {
  background-color: white;
  padding: 0.14rem 0.2rem;
  padding-bottom: 0.38rem;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0.26rem;
    li.catalog {
      list-style: none;
      text-align: center;
      flex-grow: 0;
      font-size: 0.22rem;
      color:#181818;
      height: 1.18rem;
      width: 1.2rem;
      background-size: 0.84rem;
      background-repeat: no-repeat;
      background-position: center top;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    .catalog01{
      background-image: url("../images/01.png");
    }   .catalog02{
      background-image: url("../images/02.png");
    }   .catalog03{
      background-image: url("../images/03.png");
    }   .catalog04{
      background-image: url("../images/04.png");
    }   .catalog05{
      background-image: url("../images/05.png");
    }   .catalog06{
      background-image: url("../images/06.png");
    }   .catalog07{
      background-image: url("../images/07.png");
    }   .catalog08{
      background-image: url("../images/08.png");
    }
  }
}



.channel{
  margin-top: 0.18rem;
  background-color: white;
  display: flex;
  padding: 0 0.17rem;
  .channel-card{
    margin-top: 0.34rem;
    flex-basis: 3.32rem;
    flex-grow: 1;
    padding: 0 0.13rem;
    .channel-header {
      background-position: left 8px;
      background-repeat: no-repeat;
      margin-bottom: 0.17rem;
      font-size: 0.28rem;
      display: flex;
      justify-content: space-between;
      .channel-title {
        font-size: 0.22rem;
        color:#181818;
        p:before{
          width: 0.31rem;
          height: 0.30rem;
          display: inline-block;
          content: "";
          background: url(../images/ms.png) no-repeat 0 center;
          background-size:0.30rem 0.30rem;
          padding-right: 0.14rem;
        }
        span{
          display: block;
          font-size: 0.2rem;
          color:#6e6e6e;
        }
      }
      .channel-status, .channel-countdown{
        font-size: 0.2rem;
        color:#FD9E3F;
      }
      .hidden{
        display: none;
      }
    }

    .channel-img{
      width: 100%;
      border: 0.01rem solid #6e6e6e;
    }
  }

}

.activity{
  h2{
    padding:0.24rem 0.3rem 0.16rem 0.3rem;
    margin: 0;
    font-size: 0.28rem;
    line-height: 0.28rem;
    font-weight: normal;
    &:before{
      display: inline-block;
      width: 0.31rem;
      height: 0.24rem;
      content: "";
      background: url(../images/lv.png) no-repeat 0 center;
      background-size:0.30rem 0.24rem;
      padding-right: 0.14rem;
    }
  }
.activity-body{
  padding-top: 0.3rem;
  background-color: white;
}

  .activity-card{
    padding:0 0.3rem 0.24rem 0.3rem;

    .activity-image {
      width: 100%;
      height: 2.8rem;
      display: block;
    }
    .activity-info{
      padding-top: 0.22rem;
      display: flex;
      justify-content: space-between;
      align-items:flex-start;
      div p{
        font-size: 0.28rem;
        color:#181818;
        span{
          display: block;
          font-size: 0.22rem;
          color:#6e6e6e;
        }
      }
      .activity-cost{
        background-color: orange;
        color:#FFF;
        border-radius: 0.04rem;
        padding: 0.08rem;
        padding-left: 0.13rem;
        font-size: 0.34rem;
        height: 0.6rem;
        flex-shrink: 0;
        span{
          font-size: 0.2rem;
        }
      }
    }
  }

}
.content{
  margin-bottom: 1.06rem;
  background-color: #EFEFEF;
}

.app-footer{
  position: fixed;
  border-top: 1px solid silver;
  bottom: 0 ;
  flex-shrink: 0;
  width: 100%;
  background-color: #FFF;
  height: 1.06rem;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      text-align: center;
      flex: 1;
      color:#6e6e6e;
      a{
        padding-top: 0.6rem;
        font-size: 0.2rem;
        text-align: center;
        display: block;
        background-position: center 8px;
        background-repeat: no-repeat;
        background-size: 0.48rem  0.48rem;
        &.tab01{
          background-image: url(../images/sy.png)
        }
        &.tab02{
          background-image: url(../images/ss.png)
        }
        &.tab03{
          background-image: url("../images/fl.png")
        }
        &.tab04{
          background-image: url(../images/r.png)
        }
        &:link{
          color:#6e6e6e;
        }
        &:visited{
          color:#6e6e6e;
        }
        &:hover{
          color:#FC645F;
        }
        &:active {
          color:#FC645F;
        }
        &.tabbar-selected{
          color:#FC645F;
        }
      }
    }
  }
}


